<p>
  There are <%= Contact.all.count %> contacts
</p>
<ul class="people">
 <% Contact.all.each do |contact| %> 
  <li> <%= contact.first_name %> <%= contact.last_name %> ( <%= contact.email %> )
<ul>
  <li><a href="/contacts/<%=contact.id%>/edit">EDIT</a>
    <li><a href="/contacts/<%=contact.id%>/edit">DELETE</a>
    </li>
  <% end %>
  </ul>
